body {
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 600px;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-top: 10px;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 20px;
}

.link-button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.link-button:hover {
  text-decoration: underline;
}

#result {
  text-align: center;
}

#result h2 {
  margin-bottom: 20px;
}

#result p {
  margin-bottom: 10px;
}

.disclaimer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.disclaimer a {
  color: #007bff;
  text-decoration: none;
}

.disclaimer a:hover {
  text-decoration: underline;
}
